{% extends "base.html" %}


      
{% block body %}
<div class="row-fluid" style="margin-top: 40px; padding-top: 40px;">
	<div class="span6 offset3">
		
		{% for i in bloginfo %}
		<div class="page-header">
		<h1>{{i.title}}<small><br />{{ i.about }}</small></h1>
		</div>
		{% endfor %}

		{% for post in feed %}
		<h3><a href="/blog/{{ post.blog }}/{{ post.publication_date.year }}/{{ post.publication_date.month }}/{{ post.publication_date.day }}/{{ post.slug }}">{{ post.headline }}</a></h3>
			<span>By {{ post.authors}} | {{ post.publication_date}}</span>
			<p>{{ post.body|safe|truncatewords:100 }} | <a href= {{ post.slug}}> Read more ... </a></p>
			<br />
			<hr />
		{% endfor %}
	</div>
</div>


		
		</ul>	


{% endblock %}
	</div>

</body>

</html>
